@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    background: #070707;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0px;
    padding: 0;
    font-size: 35px;
    box-sizing: border-box;
}

br {
    user-select: none;
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(3, auto);
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #070707;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    transition: all .25s ease-in-out;
}

.loading{
    width: 100px;
    height: 100px;
    background: url(images/loading.png);
    border-radius: 50%;
    animation: loading .5s infinite ease;
}

@keyframes loading{
to{
transform: rotate(360deg);
}
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    min-width: 480px;
    background: transparent;
}

.title-side {
    float: left;
    margin-left: 50px;
}

.title {
    color: #32db05;
    font-size: 150px;
    margin-top: 85px;
}

.sub-title {
    margin-top: 50px;
}

.sub-title li {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 25px;
}

.auth {
    width: 700px;
    float: right;
    margin-top: 125px;
}

.auth label {
    color: #39adf7;
    cursor: pointer;
}

.auth-input {
    border: none;
    width: 400px;
    height: 40px;
    color: #000;
    background: #fff;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 25px;
    border: 3px solid #fff;
}

.auth-input:focus {
    outline: none;
    border-color: #ffa500;
}

.auth-circle {
    background: #808080;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 10px;
}

.auth-button {
    background: #32db05;
    border-radius: 20px;
    border: none;
    padding: 1px 25px;
    cursor: pointer;
    margin-left: 350px;
}

.auth-button:hover {
    background: #4bff1a;
}

.auth-button:focus {
    outline: none;
    background: #5dfa31;
}

.auth-button:active {
    transform: scale(0.95);
}

footer{

}

footer span{
    color: #808080;
}

footer:nth-child(1){
    float: left;
}

footer:nth-child(2){
    float: right;
}

.star {
    /*visibility:hidden;*/
    width: 100%;
    height: 100%;
    background: #0c0c0c;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.back-button {
    position: fixed;
    text-transform: uppercase;
    border: none;
    background: transparent;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 50px;
}

.back-button:hover {
    background: #000;
}

.star-object {
    width: 400px;
    height: 400px;
    background: #f7f8e9;
    border-radius: 50%;
    box-shadow: 0 0 100px 25px #f7f8e9;
    position: absolute;
    margin-left: calc(50% - 400px);
}

.modal-notification-window-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    z-index: 2;
}

.modal-notification-window {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-notification-window-content {
    width: 100%;
    max-width: 620px;
    min-width: 480px;
    height: auto;
    background: #353535;
    opacity: 0.75;
    position: fixed;
    border-radius: 20px;
    box-shadow: #000 0 0 25px;
    z-index: 3;
}

.modal-notification-window-header {
    width: 100%;
    height: 45px;
    background: transparent;
    border-radius: 20px 20px 0 0;
    border-bottom: 4px solid #fff;
}

.modal-notification-window-header-title {
    font-size: 35px;
    font-weight: normal;
    background: transparent;
    margin-left: 13px;
}

.modal-notification-window-close-button {
    cursor: pointer;
    float: right;
    border: none;
    background: transparent;
    border-radius: 0px 20px 0 0;
    font-size: 30px;
    height: 41px;
    padding: 0 15px;
    user-select: none;
}

.modal-notification-window-close-button:hover {
    background: #ff3e3e;
}

.modal-notification-window-close-button:active {
    background: #eb1515;
    transition: 0s;
}

.modal-notification-window-text {
    background: transparent;
    margin: 15px;
    font-size: 30px;
}

.modal-notification-window-accept-button {
    border: none;
    background: #fff;
    color: #000;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    padding: 3px 25px;
    align-self: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.modal-notification-window-accept-button:hover {
    background: #dbdbdb;
}

.modal-notification-window-accept-button:active {
    background: #fff;
}

.modal-notification-window-body {
    background: transparent;
    display: flex;
    flex-direction: column;
}

@keyframes auth-attention {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

@media (max-width: 1500px) {}

@media (max-width: 620px) {
    .modal-notification-window-content {
        left: 0;
    }
    .grid {
        grid-template-rows: repeat(2, 100px);
        grid-template-columns: repeat(3, auto);
    }
    .title-side {}
}